<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">{{host.games.length || 0}}</div>
				<div class="comment">Hosted Games</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-question"></i>
				</div>
				<div class="title">{{host.questions.length || 0}}</div>
				<div class="comment">Total Questions</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-database"></i>
				</div>
				<div class="title">{{host.decks.length || 0}}</div>
				<div class="comment">Total Decks</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-user"></i>
				</div>
				<div class="title">{{host.userResponses.length || 0}}</div>
				<div class="comment">User Respones</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<rd-widget>
      		<rd-widget-header icon="fa-question" title="Questions">
						<input type="text" placeholder="Search Questions" class="form-control input-sm"  ng-model='$root.myQuestionDashfilter' id='searchBar'/>
					</rd-widget-header>
      		<rd-widget-body classes="large no-padding">
						<div class="table-responsive">
							<table class="table table-striped">

								<thead>
									<tr><th class="text-center">ID</th><th>Question</th><th>Percent Correct</th><th>Catagory</th></tr>
								</thead>
								<tbody>

									<tr ng-repeat='question in host.questions | filter:myQuestionDashfilter' ><td>{{question.id}}</td><td>{{question.question}}</td><td >{{question.percentCorrect}}</td><td class='text-center'><span ng-style="{'color': question.catagory.color}">{{question.catagory.name}}</span></td></tr>
								</tbody>
							</table>
						</div>
					</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-database" title="Decks">
				<input type="text" placeholder="Search Decks" ng-model='$root.myDeckDashfilter'class="form-control input-sm" />
			</rd-widget-header>
			<rd-widget-body classes="large no-padding">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr><th class="text-center">ID</th><th>Name</th><th>Questions in deck</th></tr>
						</thead>
						<tbody>
							<tr ng-repeat='deck in host.decks | filter: myDeckDashfilter'><td class="text-center">{{deck.id}}</td><td>{{deck.name}}</td><td class='text-center'>{{deck.questions.length}}</td></tr>
						</tbody>
					</table>
        </div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>
