<div class='gameconfig' ng-show='!gameIsActive'>
  <div class='topbar'>
    <button id='configbtn' class="btn btn-lg btn-success" ng-click=returnToDash()>return to dashboard</button>
  </div>
  <h1 class='configlabel'> Configure Game Settings </h1>
  <form ng-submit=createGame(game) name='gameForm'>
    <div class="form-content">
      <div class="form-group">
        <label for="name">Name of the Game:</label>
        <input type="text" class="form-control input-underline input-lg" id="name" placeholder="Name of the game" ng-model=game.name>
      </div>

      <div class="form-group">
        <label for="password">Password for the Game:</label>
        <input type="text" class="form-control input-underline input-lg" id="password" placeholder="Password" ng-model=game.password>
      </div>

      <div class="form-group" id='numberGrp'>
        <label  for="seconds" id='nbrlabel'>Round length in seconds:</label>
        <input type="text" class=" form-control input-underline input-lg" id="seconds" placeholder="10" ng-model=game.questionTime>
      </div>
      <div class="form-group" id='numberGrp'>
        <label  for="rounds" id='nbrlabel'>Number of rounds:</label>
        <input type="text" class="form-control input-underline input-lg" id="rounds" placeholder="5" ng-model=game.numberOfRounds>
      </div>
      <div class="form-group">
        <label for="password">Select a Deck:</label>
        <input type="text" ng-model="game.deck" uib-typeahead="deck as deck.name for deck in decks | filter:$viewValue | limitTo:8" class="form-control input-underline input-lg">
      </div>
        <input type='submit' id='configbtn' class='btn btn-lg btn-success smtform' ng-disabled="gameFrom.$invalid" value='Create Game'>
    </div>
  </form>
</div>
<div class='gameHomepage' ng-show='gameIsActive'>

  <div class='gameinfo'>
    <span class='tagLine'>Game Name: {{game.name}}</span>
    <span class='tagLine'>Game Password: {{game.password}}</span>
  </div>
  <div class='gameinfo'>
    <span class='configLine'>Seconds per round: {{game.questionTime}}</span>
    <span class='configLine'>Total Rounds: {{game.numberOfRounds}}</span>
    <span class='configLine'>Current Round: {{activeRound}}</span>
  </div>
  <div class='timer'>
    <h2>Time left in round: {{timer}}</h2>
  </div>
  <div class='gameBox'>
    <h2 class='gameMessage'>{{gameMessage}}</h2>
      <div ng-repeat='(key, value) in incomingQuestion.choice' class='questionBox'>
        <span class='choice'>{{key}}</span>
        <span class='choice'>{{value}}</span>
      </div>
      <div ng-repeat='player in players' ng-class-odd="'odd'" class=viewBox>
        <img src={{player.imgURL}}>
        <span class='choice'>{{player.username}}</span>
        <span class='choice'>{{player.score}}</span>
      </div>
    <button id='configbtn' ng-show='!returnToMenu' class="btn btn-lg btn-success smtform" ng-click='askQuestion()'>ask next question</button>
    <button id='configbtn' ng-show='returnToMenu' class="btn btn-lg btn-success smtform" ng-click='returnToDash()'>return to dashboard</button>
  </div>
</div>
