<div class='contentBox odd' id='splash'>
  <span class='tagLine'>Best way to host your own trivia night</span>
  <span class='question'>What are you waiting for? </span>
  <span class='question spacer'><span id='sub' class='tagLine'>hello</span></span>
  <div id="gSignInWrapper" ng-click='login()'>
    <div id="custom_google_btn" class="g-signin customGPlusSignIn">
        <span class="icon"></span>
        <span class="buttonText">Sign in with Google</span>
    </div>
  </div>
  <i class="big fa fa-chevron-down" href='#features' scroll-on-click></i>
</div>
<div class='contentBox' id='features'>
  <h2>Host the best trivia games around</h2>
  <div class='aboutHolder'>
    <div class='aboutDetails'>
    </div>
    <div class='aboutIcon'>
    </div>
  </div>
  <i class="big fa fa-chevron-down" href='#companionApp' scroll-on-click></i>
</div>
<div class='contentBox odd' id='companionApp'>
  <h2>get the companion app for players</h2>
  <i class="big fa fa-chevron-up" href='#splash' scroll-on-click></i>
</div>
<div class='footer'>
  <small>made by mike yeager</small>
</div>
