<div class='contentBox odd' id='splash'>
  <span class='tagLine'>Best way to host your own trivia night</span>
  <span class='question'>What are you waiting for? </span>
  <span class='question spacer'><span id='sub' class='tagLine'>hello</span></span>
  <div id="gSignInWrapper" ng-click='login()'>
    <div id="custom_google_btn" class="g-signin customGPlusSignIn">
        <span class="icon"></span>
        <span class="buttonText">Sign in with Google</span>
    </div>
  </div>
  <i class="big fa fa-chevron-down" href='#features' scroll-on-click></i>
</div>
<div class='contentBox' id='features'>
  <h2 class=contentLine>Host the best trivia games around</h2>
  <div class='aboutHolder'>
    <div class='aboutDetails'>
      <div class='aboutPadding'>
      <h3>1. Sign Up</h3>
        <p>get access to host console where you can create games and monitor results of your trivia</p>
        <h3>2. Create new triva questions and decks</h3>
        <p>Write your own questions or use others to create trivia decks for the game</p>
        <h3>3. Host your trivia game</h3>
        <p>Use the host console to configure the game settings, pick a deck to use, and host your trivia game</p>
        <h3>4. Get feedback</h3>
        <p>Recive feedback about the difficulties of your questions and decks after users respond to your games</p>
      </div>
    </div>
    <div class='aboutIcon'>
      <i class="fa fa-play"></i>
    </div>
  </div>
  <i class="big fa fa-chevron-down" href='#companionApp' scroll-on-click></i>
</div>
<div class='contentBox odd' id='companionApp'>
  <h2 class='contentLine'>Get the companion app for players</h2>
  <div class='aboutHolder'>
    <div class="aboutIcon" id='ai2'>
      <i class="fa fa-mobile"></i>
    </div>
    <div class='aboutDetails' id='ad2'>
      <div class='aboutPadding'>
        <h3 class='compHeader'>Get the companion phone app for game players</h3>
        <p class='compDetails'>Players of your trivia game can download companion phone app as an easy to use game controller.  simply download, signup, and join the game with the game name and password.  When questions are asked the automaticly pass over to the phone and responses are sent back to the host!  After the game players can recieve feedback about their past preformances and collect badges for their success.</p>
      </div>
    </div>
  </div>
  <i class="big fa fa-chevron-up" href='#splash' scroll-on-click></i>
</div>
<div class='footer'>
  <small>made by mike yeager</small>
</div>
