<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <form ng-submit='addQuestion(question)' name='questionForm'>
      <rd-widget-header icon="fa-question" title="Add Question">
        <input type='submit' class="btn btn-sm btn-info" id='configbtn'  ng-disabled="questionFrom.$invalid" value="Add Question">
      </rd-widget-header>
      <rd-widget-body classes="large">

          <div class="question-input">
            <div class="form-group">
              <label for="usr">Question:</label>
              <input type="text" class="form-control" id="usr" ng-required='true' ng-model='question.question'>
            </div>
            <div class="form-group">
              <label for="pwd">Choice A:</label>
              <input type="text" class="form-control" id="pwd" ng-required='true' ng-model='question.choice_a'>
            </div>
            <div class="form-group">
              <label for="pwd">Choice B:</label>
              <input type="text" class="form-control" id="pwd" ng-required='true'  ng-model='question.choice_b'>
            </div>
            <div class="form-group">
              <label for="pwd">Choice C:</label>
              <input type="text" class="form-control" id="pwd" ng-required='true'  ng-model='question.choice_c'>
            </div>
            <div class="form-group">
              <label for="pwd">Choice D:</label>
              <input type="text" class="form-control" id="pwd" ng-required='true'  ng-model='question.choice_d'>
            </div>
            <div class="form-group">
              <label for="pwd">Choice E:</label>
              <input type="text" class="form-control" id="pwd" ng-required='true'  ng-model='question.choice_e'>
            </div>
            <div class="form-group">
              <label for="sel1">Correct Answer:</label>
              <select class="form-control" id="sel1" ng-model='question.correct_answer'>
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
                <option>E</option>
              </select>
            </div>
            <div class="form-group">
            <label for="sel1">Catagory:</label>
              <select class="form-control" id="sel1"  ng-model='question.catagory_id'>
                <option  ng-repeat='catagory in catagories' ng-value='catagory.id'>{{catagory.name}}</option>
              </select>
            </div>
          </div>
      </rd-widget-body>
      <rd-widget-footer>
      </rd-widget-footer>
      </form>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-question" title="My Questions">
        <input type="text" placeholder="Search Questions" class="form-control input-sm"  ng-model='searchQuestions' />
      </rd-widget-header>
      <rd-widget-body classes="large no-padding" >
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
							<tr><th class="text-center">ID</th><th>Question</th><th>Responses</th><th></th><th></th><th></th><th></th><th>Catagory</th></tr>
						</thead>
						<tbody>
							<tr ng-repeat='question in host.questions | filter: searchQuestions' ><td>{{question.id}}</td><td>{{question.question}}</td><td>A. {{question.response_a}}</td><td>B. {{question.response_b}}</td><td>C. {{question.response_c}}</td><td>D. {{question.response_d}}</td><td>E. {{question.response_e}}</td><td class='text-center'><span ng-style="{'color': question.catagory.color}">{{question.catagory.name}}</span></td></tr>
						</tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
