<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-bar" title="Total correct/incorrect responses">

      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive pieData">

          <canvas id="pie" class="chart chart-pie"
            chart-data="data" chart-labels="labels">
          </canvas>

        </div>
      </rd-widget-body>
      <rd-widget-footer>
      </rd-widget-footer>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-bar" title="Game Decks Used">

      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive pieData">

          <canvas id="radar" class="chart chart-radar"
            chart-data="data2" chart-labels="labels2">
          </canvas>

        </div>
      </rd-widget-body>
      <rd-widget-footer>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-bar" title="Respones in the last month">

      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive pieData">

          <canvas id="line" class="chart chart-line" chart-data="data3"
            chart-labels="labels3" chart-click="onClick"  chart-series="series">
          </canvas>

        </div>
      </rd-widget-body>
      <rd-widget-footer>
      </rd-widget-footer>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-bar" title="Game Decks Used">

      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive pieData">

          <canvas id="bar" class="chart chart-bar"
            chart-data="data4" chart-labels="labels4" chart-series="series2"
          </canvas>

        </div>
      </rd-widget-body>
      <rd-widget-footer>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
